.cart__product {
  &__list {
    padding-left: 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__thumbnail {
    width: 80px;
    height: 80px;
    display: inline-block;
  }
  &__info {
    display: flex;
  }
  &__input {
    border: none;
    background: transparent;
    width: 32px;
    text-align: center;
    font-size: 13px;
    appearance: none;
    margin: 0px;
    outline: none;
  }
  &__quantity {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 84px;
    &-decrease {
      display: inline-block;
      border-right: 1px solid rgb(200, 200, 200);
      color: rgb(153, 153, 153);
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
    &-increase {
      display: inline-block;
      border-left: 1px solid rgb(200, 200, 200);
      color: rgb(153, 153, 153);
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }
  &__delete {
    &:hover {
      cursor: pointer;
    }
  }
}
.cart__notifi {
  border: none;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 8px;
  outline: none;
  padding: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__control {
    display: flex;
  }
}
