.cart__product {
  background-color: #f4f4f4;
  padding-top: 25px;
  &__container {
    border-radius: 5px;
    flex: 0 0 70%;
  }
  &__checkbox {
    text-align: center;
    margin: 0 15px;
  }
  &__list {
    padding-left: 0;
    margin: 0;
  }
  &__link {
    text-decoration: none;
    &:hover {
      color: #1a94ff;
    }
  }
  &__title {
    background-color: #fff;
    align-items: center;
    display: flex;
    height: 50px;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  &__item {
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 8px solid #f4f4f4;
    padding: 10px;
  }
  &__thumbnail {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 10px;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__detail {
    display: flex;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
    color: black;
  }
  &__input {
    border: none;
    background: transparent;
    width: 32px;
    text-align: center;
    font-size: 13px;
    appearance: none;
    margin: 0px;
    outline: none;
  }
  &__quantity {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 84px;
    &-decrease {
      display: inline-block;
      border-right: 1px solid rgb(200, 200, 200);
      color: rgb(153, 153, 153);
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
    &-increase {
      display: inline-block;
      border-left: 1px solid rgb(200, 200, 200);
      color: rgb(153, 153, 153);
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }
  &__delete {
    &:hover {
      cursor: pointer;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.cart__notifi {
  z-index: 12;
  border: none;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  outline: none;
  padding: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
  width: 400px;
  height: 130px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__content {
    padding: 15px;
  }
  &__control {
    display: flex;
    padding: 15px;
  }
  &__btn {
    display: flex;
    text-align: center;
    color: rgb(13, 92, 182);
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    padding: 0px 24px 24px;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    flex-basis: 50%;
  }
  &-close {
    padding: 8px 16px;
    border: 1px solid rgb(13, 92, 182);
    cursor: pointer;
  }
  &-action {
    padding: 8px 16px;
    border: 1px solid rgb(255, 66, 78);
    background-color: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    margin-left: 16px;
  }
}
.cart-info__container {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
}
.cart-info__user {
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  &-link {
    color: #1a94ff;
  }
  &-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
  &-adress {
    margin-bottom: 0;
  }
}
.cart-info__coupon {
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  &-img {
    padding: 3px 5px 0;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
    }
  }
  &-usage {
    display: flex;
    align-items: center;
  }
  &-show {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
}
.cart-info__price {
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  &__list {
    margin: 0;
    padding-left: 0;
    margin: 15px 0;
  }
  &__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__total {
    display: flex;
    justify-content: space-between;
  }
  &__submit {
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    padding: 13px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    margin: 15px 0px;
    cursor: pointer;
    &:hover {
      background: rgb(255, 15, 30);
    }
  }
}
.cart__price {
  color: rgb(254, 56, 52);
  font-size: 15px;
  font-weight: 500;
  text-align: right;
}
.cart__price-noted {
  font-size: 13px;
  float: right;
}
